body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 900px;
  margin: auto;
}

#navigation-links {
  text-align: center;
}

#navigation-links a {
  padding: 0px 10px;
  background-color: lightgray;
  text-align: center;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

#featured-property  p{
  width: 800px;
  text-align: center;
}

div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}